*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: radial-gradient(#fff);
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around
}
.col{
    flex-basis: 50%;
    min-width: 300px;
}
.col img{
    max-width: 100%;
    padding: 50px 0;
    opacity: 0.75;
    border-radius: 50%;
    
}
.col h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    
}
.exp{
    display: inline-block;
    background: #009933;
    color: aliceblue;
    border: solid #00ff00;
    padding: 10px 30px;
    margin: 20px 0;
    border-radius: 20px;
}
.exp:hover{
    background: #006600;
    transition: 0.5s;
}
.header .row{
    margin-top: 70px
}
.new{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col1{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col1 img{
    width: 100%;
}
.col1:hover{
    transform: translateY(-5px)
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: darkslategrey;
}
.title::after{
    position: absolute;
    content: '';
    background: black;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}
.title::before{
    position: absolute;
    content: '';
    background: black;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    top: 0;
    left: 50%;
    margin-left: -50px;
}
.rating .fa{
    color: forestgreen;
}
.exclusive{
    margin-top: 80px;
}
.col .eximg{
    padding: 50px;
}
.exclusive .col img{
    border-radius: 50%;
}
.col2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col2 img{
    width: 100px;
}
/*----Testimonial-----*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col2{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 30px 0 black;
    cursor: pointer;
    transition: 0.5s;
}
.testimonial .col2 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;  
}
.testimonial .col2:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 35px;
    margin: 12px;
    color: #009933;
}
.col2 p{
    font-size: 12px;
    margin: 12px 0;
}
.testimonial .col2 h3{
    font-weight: 600
}
/*-----footer----*/
.footer{
    /* flex-basis: %; */
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px 0; 
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.col3, .col4, .col5, .col6{
    min-width: 250px;
    margin-bottom: 20px;
}
.col3{
    flex-basis: 30%;
}
.col4{
    flex: 1;
    text-align: center;
}
.col4 img{
    width: 180px;
    margin-bottom: 20px;
}
.col5, .col6{
    flex-basis: 12%;
    text-align: center;
    
}
ul{
    list-style-type: none;
}
.col5 ul li{
    margin-bottom: 10px;
}
.col6 ul li{
    margin-bottom: 10px;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.cp{
    margin-top: 10px;
    text-align: center;
}

/* Account login page */
.log_body{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form{
    height: 480px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    padding: 5px ;
    background: #99ff99;
    box-shadow: 0 0 30px 0 black;
    overflow: hidden;
}
.buttons{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    border: 2px solid #33cc33;
}
.button_select{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    height: 100%;
    width: 110px;
    position: absolute;
    background: linear-gradient(to right, #33cc33 , #009933);
    border-radius: 30px;
    transition: 0.5s;
    
}
.user_input{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input_field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid;
    outline: none;
    background: transparent;
}
.check_box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
.sub_btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #33cc33 , #009933);
    border-radius: 30px;
    border: 0;
    outline: none;
    
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}

/*------cart style------*/

.cart_container{
    margin: 80px auto;
    
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart_info{
    display: flex;
    flex-wrap: wrap;
}
.cart_info img{
    max-width: 40%;
    opacity: 0.75;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: linear-gradient(to right, #33cc33 , #009933);
    font-weight: normal;
}
td{
    padding: 10px 5px;
    
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: red;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total{
    display: flex;
    justify-content: flex-end;
}
.total table{
    border-top: 3px solid green;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}


/*----- About us style ------*/

.abtimg{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    margin-bottom: 10px;
}

.abtimg img{
    flex: 1;
    max-width: 20%;
}
.comment{
    font-size: 12px;
}

/*----- Our products style -----*/
.main_part{
    border-top: 3px solid green;
    height: 100%;
    width: 100%;
    /*border: 2px solid black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    width: 200px;
    height: 200px;
    /*background-color: lawngreen;
    border: 2px solid green;*/
    margin: 10px;
    padding: 3px;
    
}

.item img{
    width: 100%;
    height: 150px;
}